.index_as_dynamic_table {
  position: relative;
  overflow: auto;

  .hidden {
    display: none;
  }

  .col-table-preferences {
    cursor: pointer;
  }

  .dynamic_table_configuration {
    position: absolute;
    background: #fff;
    padding: 8px;
    border: 1px solid #c9d0d6;
    width: max-content;
  }

  .dynamic_table {
    table-layout: fixed;
    width: min-content;
  }

  th {
    position: relative;

    .ui-resizable-e {
      cursor: e-resize;
      width: 7px;
      right: -5px;
      top: 0;
      height: 100%;
      position: absolute;
    }
  }
}
